body {
	color: white;
	background-image: url(../images/congruent_outline.png);
	padding-top: 5px;
	text-align: center;
	padding-top: 5px;
	font-size: 22px;
}

h1 {
	font-family: 'Vollkorn SC', serif;
	font-size: 55px;
}

.core h2, .core h3 {
	font-style: italic;
}

.container-fluid {
	font-family: 'Concert One', cursive;
}

.pics,.core {
	border: 2px dashed white;
	height: 570px;
}

.pics {
	border-right: 1px dashed white;
}

.core {
	border-left: 1px dashed white;
}

.record {
	height: 50px;
}

.hint img {
	width: 200px;
}

.heroIcon img {

}

























