body {
	color: white;
	background-image: url(../images/congruent_outline.png);
	text-align: center;
	font-size: 22px;
}

h1 {
	font-family: 'Vollkorn SC', serif;
	font-size: 40px;
}

.core h2 {
	font-size: 24px;
	font-style: italic;
}

.core h3 {
	font-style: italic;
	font-size: 90%;
}

.container-fluid {
	font-family: 'Concert One', cursive;
}

.content {
	display: flex;
}

.pics,.core {
	border: 2px dashed white;
	height: auto;
	flex: 1;
}

.core {
	border-left: 1px dashed white;
}

.pics {
	border-right: 1px dashed white;
}

.pics h2 {
	margin-top: 40px;
}

.record {
	height: 40px;
}

#progress {
	height: 90px;
	word-wrap: break-word;
}

.hint img {
	width: 80%;
	margin-top: 40px;
	margin-bottom: 50px;
}

.heroIcon img {
	width: 70%;
}

@media only screen and (min-width: 640px){
	h1 {
		font-size: 55px;
	}
	.core h2 {
		font-size: 30px;
	}

	.core h3 {
		font-size: 100%;
	}
}




















